 @import url(https://fonts.googleapis.com/css?family=Roboto:400,600,700);


 $robo: "Open sans", 'Arial', sans-serif;

 $headColor: #d5e8c8;
 $headColorHover: #456579;

 $green: #00682B;
 $greenHover: #00B31B;

 $footerMinColor: #2a3c48;
 $footerMinHeight: 60px;

 